/hid_custom/firmware/MPLAB.X/nbproject/private/
/hid_custom/firmware/MPLAB.X/build/PICDEM_FSUSB/
/hid_custom/firmware/MPLAB.X/dist/PICDEM_FSUSB/
/hid_custom/firmware/MPLAB.X/build/PIC18F4550/
/hid_custom/firmware/MPLAB.X/dist/PIC18F4550/